---
//import Navbar from "./Navbar.astro";
import Navbar from "./Navbar.tsx";
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar client:load />
    <slot />
    <footer
      class="bg-black w-screen flex flex-col items-center justify-center py-10 max-w-none format px-5 py-10"
    >
      <h1 class="mt-3 mb-10 text-white text-center">
        Inizia ora la tua avventura
      </h1>
      <div class="flex gap-3">
        <!-- <div class="relative flex-1">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 16"
            >
              <path
                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
              ></path>
              <path
                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            id="input-group-1"
            class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digita la tua mail"
          />
        </div> -->
        <a href="/contact">
          <button
            type="button"
            class="text-black bg-white hover:bg-white-dark focus:ring-4 focus:outline-none focus:ring-red-light font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0"
            >Contattaci subito!</button
          >
        </a>
      </div>
      <ul class="list-none flex m-0 text-sm">
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 text-white no-underline text-sm"
            aria-current="page">About</a
          >
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white no-underline"
            >Privacy policy</a
          >
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white no-underline"
            >Contattaci</a
          >
        </li>
      </ul>
      <p class="m-0">© 2023 inPleasure | P. IVA 1111111111111111</p>
    </footer>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"
  ></script>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: linear-gradient(
      102.2deg,
      rgb(250, 45, 66) 9.6%,
      rgb(245, 104, 104) 96.1%
    );
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    padding-top: 68px;
  }

  input {
    color: #222222 !important;
  }
  input.white {
    color: #ffffff !important;
  }

  .glass-card {
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(
      180deg,
      rgba(220, 220, 220, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  ::-moz-selection {
    color: #222222;
    background: #f5f6f8;
  }

  ::selection {
    color: #222222;
    background: #f5f6f8;
  }

  .flex-50 {
    flex: 50%;
  }
</style>
